
.box{
    background-color:indianred ;
    width: 200px;
    height: 100px;
    /* overflow: scroll; */
    /* overflow-y:scroll ; */
    overflow-y: hidden;
  transition: all 0.2s ease;
}
.box:hover{
  background-color: darkslateblue;
  height: 390px;
}
.boxes{
  display: flex;
  justify-content: space-between;
}
.plans{
  display: flex;
  justify-content: center;
  gap: 52px;
  
}
.plan-box{
  background: white ;
  border-radius: 8px;
  height: 340px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.319);
}
.plan-box:hover{
  height: 440px;
  
}
.plan-top{
  height: 220px;
  display: flex ;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.192) ;
  padding: 40px 30px 0px 30px ;
}
.plan-top img {
  width: 60px;
}
.plan-bottom{
  height: 220px;
  display: flex ;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  
}
.plan-btn{
  background-color: #424D83;
  font-size: 20px;
  color: white;
  transition: all 0.1s ease;
  border-radius: 10px;
  padding: 30px 40px ;

}
.plan-btn:hover{
  background-color:#93A5FF;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase
}
body{
    height: 100vh;
}
.landing-left-bottom{
    display: flex;
    gap: 25px;

}
.landing-left{
    padding-left: 30px;
    padding-top: 70px;
}
.inp input{
    border-radius: 10px;
    padding: 7px 19px ;
    background-color:#384170  ;
    outline: none;
    border: none;
    padding: 15px 30px ;
    color: white;
}
.inp select{
    border-radius: 8px;
    padding: 9px 9px;
    background-color: #384170;
    color: white;
    padding: 15px 30px;
    outline: none;
    border: none;
}
.inp input::placeholder{
    color:white ;
}
.landing-container{
    background-image: url("./../images/headerBg.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 2px;

}

.landing-left-top{
    color: white ;  
}
.RIP-btn{
    color: white ;
    background-color:blue ;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    padding: 9px 9px;
    transition: all 0.9s ease;
    height: 50px;
    border-radius: 8px ;
}
.RIP-btn:hover{
    background-color:#8196FE ;
    height: 50px;
}
.navbar-img1{
    width: 80px;
    border-radius: 35px;
   
}
.navbar-container{                                 
    display: flex;
    justify-content: space-between;
    background-color: #424D83;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 55px;
}
.navbar-right{
    display: flex;
    gap: 50px;
}
.navbar-links{
    display: flex;
    gap: 25px ;
    color: white;
    margin-top: 2px;
    font-size: 16px;
    text-transform:capitalize;
}
.btn1{
    font-size: 22px;
    background-color: white;
    color: #93A5FF;
    border: none;
    border-radius: 8px;
    padding: 3px 10px;
    font-size: 16px;
    display: flex;
    gap: 8px;
}
.login-icon svg{
    color: #93A5FF;
    font-size: 14px;
    
}
.join-us-cards{
    gap: 40px;
    display: flex;
    flex-direction: column;

}
.join-us-card{
    display: flex;
    gap: 25px;
    
}
.join-us-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img1{
    width: 60%;
}
.card-left{
    padding-left: 55px;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brands{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:space-around ;
    gap: 20px;

}
.img1{
    background-color: #8196FE;
    padding: 20px 10px; 
    border-radius: 15px;
    display: flex;
    justify-content: center;
    height: 105px;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.btn2{
    background-color:#424D83 ;
    color: white;
    padding: 30px 45px;

}
.section-plans{
    margin-top: 100px;
    margin-bottom: 200px;
}
.section-join-us{
    margin-top: 100px;
    margin-bottom: 200px;
}
.section-container{
    margin-top: 100px;
    margin-bottom: 500px;
}
.comment-img2{
    width: 89px;
    height: 89px;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    align-items: center;
    
}
.comment-card{
    display: flex;
    gap: 25px;
}

.owl-nav{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.owl-prev{
    display: flex;
    justify-content: center;
    background: #384170!important;
    width: 45px;
    border-radius: 50px;
}
.owl-next {
    background-color: #384170 !important;
    width: 45px;
    border-radius: 50px !important;
}
.owl-next span{
    color: white;
}
.owl-prev span{
    color: white
}



